.idea
.sass-cache
.DS_Store

*.map
!.keep

guide

node_modules
npm-debug.log
package-lock.json

.env

/wp/*
!/wp/wp-content/
/wp/wp-content/*
!/wp/wp-content/plugins/
!/wp/wp-content/languages/
!/wp/wp-content/themes/
/wp/wp-content/db.php
/wp/wp-content/debug.log
!/wp/wp-content/themes/ryota/
/wp/wp-content/themes/*/assets/
/wp/wp-content/themes/*/anticache.json
/wp/wp-content/themes/*/mix-manifest.json